/* 
    Document   : css
    Created on : 9 févr. 2014, 00:47:08
    Author     : nemlaghi.bechir@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    text-align: center;
    background : #231f20;
    color : #caefab;
}
a {
    color: #268a16;
}
p {
    text-align: justify;
}
ul{
    list-style-type : none;
    padding : 0;
    margin: 0;
}
li a {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color:#77d42a;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #268a16;
    display:inline-block;
    color:#306108;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:180px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #aade7c;
    margin: 4px 0;
}
li a:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
    background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
    background-color:#5cb811;
}
li a:active {
    position:relative;
    top:1px;
}
form{
    text-align: center;
}
input{
    margin: 0 2px;
    padding: 0 2px;
}
table{
    width: 82%;
    border: none;
    margin: auto;
}
tr{
    line-height: 20px;
    font-size: 20px;
    vertical-align: middle;
    width: 20%;
}
.tr0{
    background-color: #333333;
}
.tr1{
    background-color: #111111;
}
tr:hover{
    background-color: #193019;
}
td{
    text-align: left;
    padding: 2px 16px 2px 4px;
}